{% extends 'baseFront.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <div id="events" class="events-section">
        <div class="container text-center">
            <h2 class="section-title">Upcoming Events</h2>
            <p class="intro">Don't miss out! Here's a list of our upcoming events.</p>

            <div class="items-wrapper row">
                {% for evenement in evenements %}
                    <div class="item col-md-4 col-12">
                        <div class="item-inner">
                            <div class="figure-holder">
                                {% if evenement.lienFichier %}
                                    <img class="figure-image" width="200" src="{{ asset('uploads/' ~ evenement.lienFichier) }}" alt="{{ evenement.nomEvenement }}">
                                {% endif %}
                            </div>
                            <h3 class="item-title">{{ evenement.nomEvenement }}</h3>
                            <div class="item-desc mb-3">
                                <p >Type: {{ evenement.typeEvenement }}</p>
                                <p>Description:     {{ evenement.descriptionEvenement|slice(0, 100) }}...</p>
                                <p>Date: {{ evenement.timeEventDebut ? evenement.timeEventDebut|date('Y-m-d') : '' }}</p>
                            </div>
                            <a class="btn btn-primary" href="{{ path('app_evenement_show', {'id': evenement.id}) }}">Learn More</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
