{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>TypeEvenement</th>
                <td>{{ evenement.typeEvenement }}</td>
            </tr>
            <tr>
                <th>NomEvenement</th>
                <td>{{ evenement.nomEvenement }}</td>
            </tr>
            <tr>
                <th>DescriptionEvenement</th>
                <td>{{ evenement.descriptionEvenement }}</td>
            </tr>
            <tr>
                <th>TimeEventDebut</th>
                <td>{{ evenement.timeEventDebut ? evenement.timeEventDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TimeEventFin</th>
                <td>{{ evenement.timeEventFin ? evenement.timeEventFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LienFichier</th>
                <td>{{ evenement.lienFichier }}</td>
            </tr>
            <tr>
                <th>DestinationEvenement</th>
                <td>{{ evenement.destinationEvenement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
