
    <h1>Evenement</h1>

    <table class="table" border ="3">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>NomClub</th>
                <td>{{ evenement.NomClub }}</td>
            </tr>
            <tr>
                <th>FonctionClub</th>
                <td>{{ evenement.FonctionClub }}</td>
            </tr>
            <tr>
                <th>DescripitonClub</th>
                <td>{{ evenement.DescripitonClub }}</td>
            </tr>
            <tr>
                <th>LogoClub</th>
                <td>{{ evenement.LogoClub }}</td>
            </tr>
            <tr>
                <th>TresorieClub</th>
                <td>{{ evenement.TresorieClub }}</td>
            </tr>
            <tr>
                <th>LocalClub</th>
                <td>{{ evenement.LocalClub }}</td>
            </tr>
            <tr>
                <th>NombreStudentClub</th>
                <td>{{ evenement.NombreStudentClub }}</td>
            </tr>
        </tbody>
    </table>

  